.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.active {
  color: #0088cc;
}

.email {
  font-weight: bold;
}
